<!DOCTYPE html>
<html>
<head>
    <title>Demo3</title>
</head>
<body>
<h1>Order placed successfullyl</h1>
<div>
    <% for(var i in cart_details)
    {
        %>
        <p><strong>UID: </strong><%= uid %></p>
        <p><strong>CID: </strong><%= cid %></p>
        <p><strong>Item: </strong><%= cart_details[i].product %></p>
        <p><strong>Cost: </strong><%= cart_details[i].price %></p>
        <p><strong>Quantity: </strong><%= cart_details[i].quantity %></p>
        <br>
        <%
        }
    %>
</div>
</body>
</html>
